employee_schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Employee">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Employee1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Details">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="First_Name" type="xs:string" />
                    <xs:element name="Last_Name" type="xs:string" />
                    <xs:element name="Dob" type="xs:date" />
                    <xs:element name="Gender" type="xs:string" />
                    <xs:element name="Position" type="xs:string" />
                    <xs:element name="Salary" type="xs:unsignedInt" />
                    <xs:element name="Email" type="xs:string" />
                    <xs:element name="Phone_Number" type="xs:unsignedLong" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Employee2">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Details">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="First_Name" type="xs:string" />
                    <xs:element name="Last_Name" type="xs:string" />
                    <xs:element name="Dob" type="xs:date" />
                    <xs:element name="Gender" type="xs:string" />
                    <xs:element name="Position" type="xs:string" />
                    <xs:element name="Salary" type="xs:unsignedShort" />
                    <xs:element name="Email" type="xs:string" />
                    <xs:element name="Phone_Number" type="xs:unsignedLong" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Employee3">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Details">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="First_Name" type="xs:string" />
                    <xs:element name="Last_Name" type="xs:string" />
                    <xs:element name="Dob" type="xs:date" />
                    <xs:element name="Gender" type="xs:string" />
                    <xs:element name="Position" type="xs:string" />
                    <xs:element name="Salary" type="xs:unsignedShort" />
                    <xs:element name="Email" type="xs:string" />
                    <xs:element name="Phone_Number" type="xs:unsignedLong" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="category" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>